/*Fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*Red: #ff471a
White: #f7f7f7*/

body {
	margin: 0px;
	padding: 0px;
}

/*Index*/

#index {
	position: fixed;
	float: left;
	width: 55%;
	height: 100%;
	background-color: #f7f7f7;
}

#index-logo {
	position: relative;
	width: 100%;
	height: 40%;
	margin: 0px 0px 0px 0px;
}

#index-main {
	position: relative;
	width: 100%;
	height: 45%;
	margin: 0px 0px 0px 0px;
	/*background-color: black;*/
}

#logo {
	position: relative;
	margin: auto;
	top: 25%;
	width: 50%;
	padding-bottom: 20%;
	/*background-color: black;*/
}

#logo img {
	max-width: 100%;
}

.mid-button {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	line-height: 40px;
	font-size: 1vw;
	font-weight: 900;
	letter-spacing: 1.5px;
	float: left;
	background-color: #eeeeee;
	border-left: 4px double;
	border-right: 4px double;
	border-color: #ff471a;
	border-radius: 15px;
	height: 40px;
	width: 30%;
	transform: translate(29%, 130%);
	margin: 5% 5% 5% 5%;
	transition: 0.3s;
}

/*@media screen and (max-width: 1164px) {
	#main-buttons{
		top: 20%;
	}
	.mid-button {
		left: 13%;
		margin-top: 2%;
	}
}*/

.mid-button:hover {
	color: #f7f7f7;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

#bottom-buttons {
	position: relative;
	width: 100%;
	height: 10%;
	top: 3%;
	margin: 0px 0px 0px 0px;
	/*background-color: blue;*/
}

#bottom-button-holder {
	position: relative;
	top: 35%;
	display: table;
	width: 75%;
	margin: 0 auto;
	/*background-color: white;*/
}

.brow-button {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1vw;
	text-align: center;
	line-height: 45px;
	float: left;
	width: 20%;
	height: 45px;
	padding: 0px 6.5% 0px 6.5%;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ff471a;
	margin-left: -1px;
	transition: 0.3s;
	/*background-color: black;*/
}

.brow-button:hover {
	color: #f7f7f7;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}
/*
@media screen and (max-width: 1315px) {
	.brow-button {
		width: 100px;
	}
}*/

/*Preview*/

#preview {
	float: right;
	width: 45%;
	height: 100%;
	background-color: #f4f4f4;
	cursor: pointer;
}

#preview-container {
	opacity: 0.92;
	height: 100%;
	transition: 0.3s;
	background-image: url("../img/aco_1_crop.jpg");
	background-size: cover;

}

#preview-container:hover {
	opacity: 1;
	transition: 0.3s;
}


/*About*/
#about {
	display: none;
}