/*Fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*Red: #ff471a
White: #f7f7f7
Tan: #f6f2dd
Brown: #e6d5a8*/

body {
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	overflow: hidden;
	background-color: #f7f7f7;
}

/*--------------------------INDEX--------------------------*/

#index {
	position: fixed;
	float: left;
	width: 55%;
	height: 100%;
	background-color: #f7f7f7;
}

#index-logo {
	position: relative;
	width: 100%;
	height: 40%;
	margin: 0px 0px 0px 0px;
}

#index-main {
	position: relative;
	width: 100%;
	height: 45%;
	margin: 0px 0px 0px 0px;
}

#logo {
	position: relative;
	margin: auto;
	top: 25%;
	width: 50%;
	padding-bottom: 20%;
}

#logo img {
	max-width: 100%;
}

.mid-button {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	line-height: 40px;
	font-size: 1vw;
	letter-spacing: 1.5px;
	float: left;
	background-color: #f6f2dd;
	border-left: 4px double;
	border-right: 4px double;
	border-color: #ff471a;
	border-radius: 5px;
	height: 40px;
	width: 30%;
	transform: translate(29%, 130%);
	margin: 5% 5% 5% 5%;
	transition: 0.3s;
}

.mid-button:hover {
	color: #f7f7f7;
	font-size: 1.1vw;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

#bottom-buttons {
	position: relative;
	width: 100%;
	height: 10%;
	top: 3%;
	margin: 0px 0px 0px 0px;
}

#bottom-button-holder {
	position: relative;
	top: 35%;
	display: table;
	width: 75%;
	margin: 0 auto;
}

.brow-button {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1vw;
	text-align: center;
	line-height: 45px;
	float: left;
	width: 20%;
	height: 45px;
	padding: 0px 6.5% 0px 6.5%;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ff471a;
	margin-left: -1px;
	transition: 0.3s;
}

.brow-button:hover {
	color: #f7f7f7;
	font-size: 1.2vw;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

a {
	color: inherit;
	border-color: #ff471a;
}

a:visited {
	color: inherit;
	border-color: #ff471a;
}

/*--------------------------PREVIEW--------------------------*/

#preview {
	float: right;
	width: 45%;
	height: 100%;
	background-color: #f4f4f4;
	cursor: pointer;
	transition: 0.7s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.1s;	
}

#preview-container {
	opacity: 0.95;
	height: 100%;
	transition: 0.4s;
	background-image: url("../img/aco_1_crop.png");
	background-size: cover;
}

#preview-container:hover {
	opacity: 1;
	transition: 0.4s;
}

.desc {
	transform: translateX(-123%);
	transition: 0.7s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.1s;
}

/*--------------------------DESCRIPTION--------------------------*/

#description {
	width: 56%;
	height: 100%;
	position: relative;
	right: -44.65%;
	/*float: right;*/
	/*display: inline-block;*/
	transform: translateY(100%);
	/*background-color: black;*/
	animation: slideUp 0.6s ease-in-out 0.45s forwards;
}

@keyframes slideUp {
	from {
	} to {
		transform: translateY(0%);
	}
}

#description-exit {
	position: absolute;
	top: 20px;
	right: 30px;
}

.profile {
	position: relative;
	height: 15%;
	width: height;
	top: 5%;
	/*background-color: grey;*/
	/*opacity: 0.5;*/
}

.profile-pic {
	position: relative;
	display: inline-block;
	border-radius: 100px;
	top: 1.4vh;
	left: 3%;
	height: 12.5vh;
	width: 12.5vh;
	background-color: blue;
	border: solid 5px #ff471a;
	cursor: pointer;
	transition: 0.3s;
}

.profile-pic:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.pfp {
	background-image: url("../img/aco_pfp.jpg");
	border-radius: 100px;
	height: 100%;
	background-size: cover;
}

.profile-text {
	position: relative;
	display: inline-block;
	left: 6%;
	cursor: pointer;
}

.profile-name {
	font-family: 'Permanent Marker', cursive;
	font-size: 3.5vw;
	letter-spacing: 5px;
	position: relative;
	display: inline-block;
	color: #ff3200;
	opacity: 0.8;
	transition: 0.3s;
}

.profile-name:hover {
	opacity: 1;
	transition: 0.3s;
	transform: scale(1.1);
}

.profile-handle {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.5vw;
	letter-spacing: 3px;
	position: relative;
	display: block;
	opacity: 0.8;
	transition: 0.3s;
}

.profile-handle:hover {
	opacity: 1;
	transition: 0.3s;
	transform: scale(1.1);
}

.quote {
	position: relative;
	height: 10%;
	width: 100%;
	top: 5%;
	/*opacity: 0.5;*/
	font-family: 'Permanent Marker', cursive;
	font-size: 2.5vw;
	color: black;
	opacity: 0.8;
	padding: 20px 20px 20px 20px;
	text-align: center;
	letter-spacing: 3px;
}

.description-text {
	position: relative;
	height: 33%;
	width: 100%;
	top: 5%;
	/*background-color: grey;*/
	border-top: 10px double #e6d5a8;
	border-bottom: 10px double #e6d5a8;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	line-height: 200%;
	position: relative;
	font-size: 1.9vmin;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	/*background-color: grey;*/
}

.description-gallery {
	position: relative;
	height: 30%;
	width: 100%;
	top: 5%;
	/*background-color: grey;*/
}

.img-holder {
	position: relative;
	margin: 0 auto;
	width: 83%;
	top: 15%;
	height: 100%;
}

.description-img {
	position: relative;
	display: inline-block;
	height: 10vw;
	width: 10vw;
	border-radius: 300px;
	margin-right: 5%;
	margin-left: 5%;
	border: solid 3px #ff471a;
	cursor: pointer;
	opacity: 0.9;
	transition: 0.4s;
}

.description-img:hover {
	opacity: 1;
	transform: scale(1.1);
	transition: 0.4s;
}

.first {
	height: 100%;
	background-image: url("../img/aco_pfp.jpg");
	border-radius: 300px;
	background-size: cover;
}

.second {
	height: 100%;
	background-image: url("../img/aco_pfp.jpg");
	border-radius: 300px;
	background-size: cover;
}

.third {
	height: 100%;
	background-image: url("../img/aco_pfp.jpg");
	border-radius: 300px;
	background-size: cover;
}

/*--------------------------ABOUT--------------------------*/
#about {
	display: none;
}

#shadow {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: relative;
	background-color: black;
}

#pop-up {
	width: 500px;
	height: 575px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 30px 30px 30px 30px;
	background-color: #f2f2f2;
	border: 10px solid #e6d5a8;
	border-radius: 10px;
	animation: pop-up 0.4s linear 0s forwards;
}

#about-exit {
	position: absolute;
	top: 15px;
	right: 15px;
}

.exit {
	cursor: pointer;
	max-width: 40px;
	max-height: 40px;
	opacity: 0.7;
	transform: scale(0.9);
	transition: 0.2s;
}

.exit:hover {
	opacity: 1;
	transform: scale(1);
	transition: 0.2s;
}

#about-header {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 32px;
	position: relative;
}

#about-text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin-top: 10px;
}

#about-sig {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-top: 24px;
}

#about-img1 {
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
	margin: 20px 20px 0px 0px;
}

#about-img2 {
	position: relative;
	float: right;
	width: 150px;
	height: 150px;
	margin: 20px 20px 30px 30px;
}

@keyframes pop-up {
	from {
		top: 100%;
	}
	to {
		top: 10%;
	}
}