@font-face {
	font-family: "Gilroy";
	src: url('../fonts/gilroy-light.otf');
}

@font-face {
	font-family: "GilroyBold";
	src: url('../fonts/gilroy-bold.otf');
}

@font-face {
	font-family: "SFPro";
	src: url('../fonts/sfpro.otf');
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

.vertical-center {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.landing {
	height: 100%; 
	width: 100%; 
	background-color: #FDFDFD;
}

.landing-indicator {
	opacity: 0.75;
	width: 100%;
	position: absolute;
	bottom: 0px;
	height: 45px;
	background-color: #F7D331;
	transition: 0.4s;
	transform-origin: bottom;
}

.landing-indicator:hover {
	opacity: 1;
	cursor: pointer;
	transition: 0.4s;
	transform: scaleY(1.3);
}

.landing-indicator img {
	height: 20px;
	opacity: 0;
	transition: 0.2s;
}

.landing-indicator:hover img {
	opacity: 1;
	height: 20px;
	transition: 0.2s;	
}

.about {
	height: 100%; 
	width: 100%; 
	background-color: #E5E5E5;
}

.navigation {
	position: absolute;
	margin-left: 3%;
	bottom: -90%;
	height: 300px;
	width: 125px;
	background-color: #AAAAAA;
}

.heading {
	font-size: 5rem;
	color: #F7D331;
	/*text-shadow: 0px 0px 7px rgba(50,50,50, 0.1);*/
}

.about-body {
	font-size: 2.25rem;
	line-height: initial;
}

.pfp {
	margin: 3rem 0 0 0rem;
}

.divider {
	position: relative;
	width: 30rem;
	height: 1.5px;
	background-color: #A6A6A6; 
	margin-bottom: 1.25rem;
}

.contact-button {
	margin-left: 1.5rem;
	opacity: 0.85;
	transition: 0.1s;
}

.contact-button:hover {
	opacity: 1;
	transition: 0.1s;
	cursor: pointer;
}

.status {
	/*font-size: 2.25rem;
	line-height: initial;*/
	/*color: #F7D000;*/
	/*position: absolute;*/
	/*right: 0px;
	padding-right: 15px;
	margin-bottom: 15px;
	/*bottom: 0px;*/
}

.projects {
	display: block;
	height: 100%; 
	width: 100%; 
	background-color: #FDFDFD;
}

.proj-container {
	opacity: 0.9;
	transition: 0.4s;
}

.proj-item {
	width: 100%; 
	padding: 1rem 1.5rem 0.3rem 1.5rem; 
	/*background-color: rgb(25, 25, 25, 0.9); */
	border-radius: 5px;
	transition: 0.4s;
	color: #F7D331;
	/*border-left: 8px solid #F7D331*/
}

.proj-item:hover {
	background-color: rgb(247, 211, 49, 0.9);
	transition: 0.4s;
	color: black;
	transform: scale(1.005);
}

/*.proj-item:hover .proj-img {
	border: 2px solid #555555;
	transition: 0.4s;
} */

.proj-item2 {
	padding: 1rem 1.5rem 1rem 1.5rem; 
	/*background-color: rgb(25, 25, 25, 0.9); */
	border-radius: 5px;
	transition: 0.4s;
	color: #F7D331;
	/*border-left: 8px solid #F7D331*/
}

.proj-item2:hover {
	background-color: rgb(247, 211, 49, 0.9);
	transition: 0.4s;
	color: black;
	transform: scale(1.0075);
}

/*.proj-item2:hover .proj-img {
	border: 2px solid #555555;
	transition: 0.4s;
} */

.proj-img {
	border: 2px solid #181818; 
	border-radius: 2px;
	transition: 0.4s;
}

.proj-container:hover {
	opacity: 1;
	transition: 0.4s;
	cursor: pointer;
}

.design {
	height: 100%; 
	width: 100%; 
	background-color: #E5E5E5;
}

.des-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	opacity: 0.9;
	transition: 0.4s;
}

.des-container:hover {
	opacity: 1;
	transition: 0.4s;
	cursor: pointer;
	transform: scale(1.025);
}

.des-container:hover .des-img {
	background-color: #F7D331;
	transition: 0.4s;

}

.des-img {
	width: 85%;
	min-height: 100%; 
	object-fit: cover;
	/*border-left: 8px solid #F7D331;*/
	border-radius: 5px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	/*background-color: rgb(25, 25, 25, 0.9);*/
	transition: 0.4s;
}