/*Fonts:
font-family: 'Permanent Marker', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*Red: #ff471a
White: #f7f7f7
Tan: #f6f2dd
Brown: #e6d5a8*/

body {
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	overflow: hidden;
	background-color: #f7f7f7;
}

/*--------------------------INDEX--------------------------*/

#index {
	position: fixed;
	float: left;
	width: 55%;
	height: 100%;
	background-color: #f7f7f7;
}

#index-logo {
	position: relative;
	width: 100%;
	height: 40%;
	margin: 0px 0px 0px 0px;
}

#index-main {
	position: relative;
	width: 100%;
	height: 45%;
	margin: 0px 0px 0px 0px;
}

#logo {
	position: relative;
	margin: auto;
	top: 25%;
	width: 50%;
	padding-bottom: 20%;
}

#logo img {
	max-width: 100%;
}

.mid-button {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	line-height: 40px;
	font-size: 1vw;
	letter-spacing: 1.5px;
	float: left;
	background-color: #f6f2dd;
	border-left: 4px double;
	border-right: 4px double;
	border-color: #ff471a;
	border-radius: 15px;
	height: 40px;
	width: 30%;
	transform: translate(29%, 130%);
	margin: 5% 5% 5% 5%;
	transition: 0.3s;
}

.mid-button:hover {
	color: #f7f7f7;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

#bottom-buttons {
	position: relative;
	width: 100%;
	height: 10%;
	top: 3%;
	margin: 0px 0px 0px 0px;
}

#bottom-button-holder {
	position: relative;
	top: 35%;
	display: table;
	width: 75%;
	margin: 0 auto;
}

.brow-button {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1vw;
	text-align: center;
	line-height: 45px;
	float: left;
	width: 20%;
	height: 45px;
	padding: 0px 6.5% 0px 6.5%;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ff471a;
	margin-left: -1px;
	transition: 0.3s;
}

.brow-button:hover {
	color: #f7f7f7;
	background-color: #ff471a;
	opacity: 0.7;
	transition: 0.3s;
	cursor: pointer;
}

a {
	color: inherit;
	border-color: #ff471a;
}

a:visited {
	color: inherit;
	border-color: #ff471a;
}

/*--------------------------PREVIEW--------------------------*/

#preview {
	float: right;
	width: 45%;
	height: 100%;
	background-color: #f4f4f4;
	cursor: pointer;
}

#preview-container {
	opacity: 0.92;
	height: 100%;
	transition: 0.3s;
	background-image: url("../img/aco_1_crop.jpg");
	background-size: cover;

}

#preview-container:hover {
	opacity: 1;
	transition: 0.3s;
}


/*--------------------------ABOUT--------------------------*/
#about {
	display: none;
}

#shadow {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	position: relative;
	background-color: black;
}

#pop-up {
	width: 500px;
	height: 575px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 30px 30px 30px 30px;
	background-color: #f2f2f2;
	border: 10px solid #e6d5a8;
	border-radius: 10px;
	animation: pop-up 0.4s linear 0s forwards;
}

#exit-button {
	position: absolute;
	max-width: 40px;
	max-height: 40px;
	cursor: pointer;
	top: 15px;
	right: 15px;
}

#about-header {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 32px;
	position: relative;
}

#about-text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin-top: 10px;
}

#about-sig {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-top: 24px;
}

#about-img1 {
	position: relative;
	float: left;
	width: 150px;
	height: 150px;
	margin: 20px 20px 0px 0px;
}

#about-img2 {
	position: relative;
	float: right;
	width: 150px;
	height: 150px;
	margin: 20px 20px 30px 30px;
}

@keyframes pop-up {
	from {
		top: 100%;
	}
	to {
		top: 15%;
	}
}